
.page-content .page-bar{
	margin: 0px;
}

.page-content .fbtable, .page-content .fbtable *{
	text-align: center;
}
.page-content .fbtable{
	text-align: center;
}
div.page-container > div.page-content-wrapper > div table{

  height: 19px;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #545454;
}
.page-content .fbtable table thead tr th{
  color: #305a81;
  padding-top:39px;
  padding-bottom:17px;
}
.page-content  .fbtabletitle{
  font-family: "Open Sans",sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #305a81;
  width:97%;
  margin:0px auto;
  padding-bottom: 33px;
  padding-top: 28px;
}
.page-content .fbtabletitle svg{
  height:20px;
}
.page-content .fbtabletitle svg path{
  fill: #305a81;

}

div.page-container > div.page-content-wrapper > div table > tbody > tr > td{

  font-family: "Open Sans";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #545454;
}
div.page-container > div.page-content-wrapper > div table > tbody > tr{
  height: 70px;
}

/*profile */

div.page-container > div.page-content-wrapper > div table > tbody > tr a.profilePage{

  width: 120px;
  height: 40px;
  border-radius: 40px !important;
  background-color: #4464a2;
  padding: 8px;
  text-decoration: none;
}
div.page-container > div.page-content-wrapper > div table > tbody > tr a.profilePage span{

  width: 91px;
  height: 19px;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}
.page-content .fb-total-users{
  background-color: #3da2e0;
}
.page-content .fb-total-users .leaderscount{
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.page-content .fb-average-users{
  background-color: #ea5b65;
}
.page-content .fb-average-users .fbaveragecount{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.page-content .tb-total-shares{
  background-color: #994db6;
}
.page-content .tb-total-shares .fbtotalshares{
    position: absolute;
    right: 30px;
    bottom: 30px;
}


.display .number h3{
  color:white;
}

.display .number small{
  color:white !important;
  font-size:15px;
}

/*breadcrumb*/
.titlerow .page-bar{
  padding-left: 5px;
}


/*leaderTab*/
#leaderTab{
  background-color: white;
} 

#leaderTab>.nav-tabs{
  display: table;
  margin-right: auto;
  margin-left: auto;
} 
#leaderTab>.nav-tabs>li{  
  cursor: pointer;
  width: 130px;
}
#leaderTab>.nav-tabs>li>a{

  font-family: "Open Sans";
  font-weight: 900;
  font-size: 18px;
  color: #7b7b7b;
} 

#leaderTab>.nav-tabs>li.active>a{
  color: #305a81;
} 
#leaderTab>.nav-tabs>li.active{
  border-bottom: 4px solid #305a81;
} 
#leaderTab>.nav-tabs>li:hover{
  border-bottom: 4px solid #7b7b7b;;
} 


#leaderTab>.tab-content{
  margin: 0px 17px 0px 17px;
  border-top: 2px solid #ccd9e1;
  padding: 0px;
} 

#leaderTab>.tab-content #weekly thead{
} 
#leaderTab>.tab-content #weekly thead tr th{
  height: 22px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #305a81;
  padding-top: 22px;
  padding-bottom: 20px;
} 
#leaderTab>.tab-content #weekly tbody tr{
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  opacity: 1; 
  border-top: 10px solid white;
  border-bottom: 10px solid white;

} 
#leaderTab>.tab-content #weekly tr td{  
  height: 100px;
  background-color: white;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

#leaderTab>.tab-content #weekly tr>td{
  opacity: 1;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-align: center;
  color: #545454;
} 

#leaderTab>.tab-content #weekly tr>td:nth-child(2){
  font-size: 32px;
  color: #4470a6;
  width: 70px;
} 
#leaderTab>.tab-content #weekly tr.noRank>td:nth-child(2){
  font-size: 32px;
  color: #e48678;
} 

#leaderTab>.tab-content #weekly tr>td:nth-child(1){
  padding-left :27px;
  padding-right: 48px;
}
#leaderTab>.tab-content #weekly tr>td:nth-child(1) img{
  width: 60px;
  height: 60px;
}

#leaderTab>.tab-content #weekly  tr.highRank td{
  background-color: #f7f4e9;
} 

#leaderTab>.tab-content #weekly  tr.noRank td{
  background-color: #fdeced;
} 

#leaderTab>.tab-content #weekly tr>td .svgicon{
  width: 25px;
  height: 24px;
  float:left;
  padding-right:15px;
  width:60px;
  padding-bottom: 5px; 
}
#leaderTab>.tab-content #weekly tr>td .svgicon path{
  fill: #4470a6;
}
#leaderTab>.tab-content #weekly tr>td .svgicon.highRank path{
  fill: #a9921f;
}
#leaderTab>.tab-content #weekly tr>td .svgicon.noRank path{
  fill: #e48678;
}
#leaderTab>.tab-content #weekly tr.noRank>td .svgicon.noRank path{
  fill: #e48678;
}

#leaderTab>.tab-content #weekly tr>td a.cludeButton{

  width: 120px;
  height: 40px;
  border-radius: 40px !important;
  padding: 8px;
  text-decoration: none;
  background-color: #aaaaaa;
}
#leaderTab>.tab-content #weekly tr.noRank>td a.cludeButton{

  background-color: #4470a6;
}
#leaderTab>.tab-content #weekly tr>td a.cludeButton span{

  width: 91px;
  height: 19px;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}
.cludeImg{
  padding-bottom:-4px;
}
.cludeImg path{
  fill:white;
}

/*loadmore*/
#leaderTab>.tab-content #weekly div#loadMore{

  background-color: white; 
  width: 100%;
  border: solid 2px #4774ac;
  padding-top: 8px;
  padding-bottom: 8px; 
}
#leaderTab>.tab-content #weekly div#loadMore a{
  width:97%;
  display: block;
  font-size: 18px;
  margin:0px auto;
} 

#leaderTab>.tab-content #weekly div#loadMore a.disabled
{
   pointer-events: none;
   cursor: default;
} 
