<!-- BEGIN PAGE HEADER-->

<div class="titlerow">
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="row figure-container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="dashboard-stat2 dipslay_blue fb-total-users">
				<div class="display">
					<div class="number">
						<h3>
							<span class="numbercount" data-counter="counterup" >{{ pointsPerUser | number}}</span>
						</h3>
						<small>Average Points Per User</small>
					</div>
			        <div>
						<img class="fbtopstat leaderscount" src="../assets/pages/media/pages/total_fb_users_ic.svg">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="dashboard-stat2 dipslay_red  fb-average-users" style="background-color: #ea5b65 ">
				<div class="display display">
					<div class="number">
						<h3 >
							<span class="numbercount " data-counter="counterup" data-value="pointsPerDay">{{pointsPerDay | number}}</span>
						</h3>
						<small>Average Points Per Day</small>
					</div>
					<div>
						<img class="fbtopstat fbaveragecount" src="../assets/pages/media/pages/avg_users_per_day_ic.svg">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-bar" id="breadcrumb">
		<ul class="page-breadcrumb">
			<li>
				<a ui-sref="dashboard"><span class="icon-home"></span>&nbspHome</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a ui-sref="nylottery">LEADERBOARD</a>
			</li>
		</ul>	
	</div>
        <!-- BEGIN: ACCORDION DEMO -->
	<div class="row">
		<div class="fbtable col-md-12" >
			<div>
				<h3 class="fbtabletitle" style=''><img class="leader-title" src="../assets/pages/media/pages/leaderboard_ic.svg">
					LEADERBOARD
					</h3>
				</th>
			</div>
			<div class="tabbable-line" id = "leaderTab">
			    <ul class="nav nav-tabs">
	                <li class="active">
	                    <a href="#" data-target="#monthly" data-toggle="tab" aria-expanded="true"> MONTHLY </a>
	                </li>
	                <li class="">
	                    <a href="#" data-target="#weekly" data-toggle="tab" aria-expanded="false"> WEEKLY </a>
	                </li>
	                <li class="">
	                    <a href="#" data-target="#excluded" data-toggle="tab" aria-expanded="false"> EXCLUDED </a>
	                </li>
	            </ul>
			    <div class="tab-content">
			         <div class="tab-pane active" id="monthly">
			            
						<div class="table-scrollable table-scrollable-borderless">
							<table class="table table-hover table-light">
								<thead>
									<tr class="uppercase" >
										<th colspan="1">  </th>
										<th> RANK </th>
										<th> FIRST NAME </th>
										<th> LAST NAME </th>
										<th> LOYALITY POINTS </th>
										<th colspan="1"> </th>
									</tr>
								</thead>
								<tr ng-repeat="leader in monthlyProvider" ng-class="leader.Credits==0?'noRank':(leader.Rank<=3?'highRank':'')">
		                            <td class="fit">
		                                <img class="user-pic rounded" ng-src="{{leader.Image}}"></td>
		                            <td>
		                            	<img ng-show="leader.Rank==1" ng-src="{{genImg(1)}}">
		                            	<img  ng-show="leader.Rank==2" ng-src="{{genImg(2)}}">
		                            	<img  ng-show="leader.Rank==3" ng-src="{{genImg(3)}}">
		                            	<span  ng-hide=" leader.Rank<=3">{{"#"+leader.Rank}}</span>
		                            </td>
		                            <td>{{leader.FBFirstName}}</td>
		                            <td>{{leader.FBLastName}}</td>
		                            <td><img class="svgicon" ng-class="leader.Credits==0?'noRank':(leader.Rank<=3?'highRank':'')" src="assets/img/leaderboard/leaderboard_score_star_ic.svg"><span>{{leader.Credits==0?"-NA-":leader.Credits}}</span></td>
		                            <td><a class="cludeButton" ng-hide="leader.Rank>=1&&leader.Rank<=3"  ><span>{{leader.Credits==0?"INCLUDE&nbsp":"EXCLUDE&nbsp"}}
		                            <img class="cludeImg"  ng-class="leader.Credits==0?'noRank':(leader.Rank<=3?'highRank':'')" src="assets/img/leaderboard/leaderboard_exclude_include_ic.svg"> </span><!-- <img class="leader-title" src="../assets/pages/media/pages/fb_users_arrow_btn_ic.svg"> --></a></td>
		                        </tr>
		                        <tr ng-if="monthlyLoading">
		                            <td colspan="8" class="text-center">
		                                <i class="fa fa-spin fa-spinner"></i>
		                                Loading Data
		                            </td>
		                        </tr>
		                        <tr ng-if="!monthlyLoading && !monthlyProvider.length">
		                            <td colspan="8" class="text-center">
		                                Found no users
		                            </td>
		                        </tr>

							</table>
						</div>
						<div id="loadMore"><a ng-class="monthlyTotalLeaders==monthlyProvider.length?'disabled':''" ng-click="monthlyLoadMore()">LOAD MORE</a></div> 
			        </div>
			        <div class="tab-pane" id="weekly">
			            
						<div class="table-scrollable table-scrollable-borderless">
							<table class="table table-hover table-light">
								<thead>
									<tr class="uppercase" >
										<th colspan="1">  </th>
										<th> RANK </th>
										<th> FIRST NAME </th>
										<th> LAST NAME </th>
										<th> LOYALITY POINTS </th>
										<th colspan="1"> </th>
									</tr>
								</thead>
								<tr ng-repeat="leader in weeklyProvider" ng-class="leader.Credits==0?'noRank':(leader.Rank<=3?'highRank':'')">
		                            <td class="fit">
		                                <img class="user-pic rounded" ng-src="{{leader.Image}}"></td>
		                            <td>
		                            	<img ng-show="leader.Rank==1" ng-src="{{genImg(1)}}">
		                            	<img  ng-show="leader.Rank==2" ng-src="{{genImg(2)}}">
		                            	<img  ng-show="leader.Rank==3" ng-src="{{genImg(3)}}">
		                            	<span  ng-hide="leader.Rank<=3">{{"#"+leader.Rank}}</span>
		                            </td>
		                            <td>{{leader.FBFirstName}}</td>
		                            <td>{{leader.FBLastName}}</td>
		                            <td><img class="svgicon" ng-class="leader.Credits==0?'noRank':(leader.Rank<=3?'highRank':'')" src="assets/img/leaderboard/leaderboard_score_star_ic.svg"><span>{{leader.Credits==0?"-NA-":leader.Credits}}</span></td>
		                            <td><a class="cludeButton" ng-hide="leader.Rank>=1&&leader.Rank<=3"  ><span>{{leader.Credits==0?"INCLUDE&nbsp":"EXCLUDE&nbsp"}}
		                            <img class="cludeImg" 	ng-class="leader.Credits==0?'noRank':(leader.Rank<=3?'highRank':'')" src="assets/img/leaderboard/leaderboard_exclude_include_ic.svg"> </span><!-- <img class="leader-title" src="../assets/pages/media/pages/fb_users_arrow_btn_ic.svg"> --></a></td>
		                        </tr>
		                        <tr ng-if="weeklyLoading">
		                            <td colspan="8" class="text-center">
		                                <i class="fa fa-spin fa-spinner"></i>
		                                Loading Data
		                            </td>
		                        </tr>
		                        <tr ng-if="!weeklyLoading && !weeklyProvider.length">
		                            <td colspan="8" class="text-center">
		                                Found no users
		                            </td>
		                        </tr>

							</table>
						</div>
						<div id="loadMore"><a ng-class="weeklyTotalLeaders==weeklyProvider.length?'disabled':''" ng-click="weeklyLoadMore()">LOAD MORE</a></div> 
			        </div>
			        <div class="tab-pane" id="excluded">
			            <p> Howdy, I'm in Section 3. </p>
			        </div>
			    </div>
			</div>
			</div>
		</div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->