

<div class="titlerow">
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="row figure-container">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="dashboard-stat2 dipslay_blue fb-total-users">
				<div class="display">
					<div class="number">
						<h3>
							<span class="numbercount" data-counter="counterup" >{{totalFbUsers | number}}</span>
						</h3>
						<small>TOTAL FB USERS</small>
					</div>
			        <div>
						<img class="fbtopstat leaderscount" src="../assets/pages/media/pages/total_fb_users_ic.svg">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="dashboard-stat2 dipslay_red  fb-average-users">
				<div class="display display">
					<div class="number">
						<h3 >
							<span class="numbercount " data-counter="counterup" >{{averageUsersPerDay | number}}</span>
						</h3>
						<small>AVARAGE USERS PER DAY</small>
					</div>
					<div>
						<img class="fbtopstat fbaveragecount" src="../assets/pages/media/pages/avg_users_per_day_ic.svg">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="dashboard-stat2 dipslay_purple tb-total-shares">
				<div class="display display">
					<div class="number">
						<h3 >
							<span class="numbercount" data-counter="counterup" >{{totalShares | number}}</span>
						</h3>
						<small>TOTAL SHARES</small>
					</div>
			        <div>
						<img class="fbtopstat fbtotalshares" src="../assets/pages/media/pages/total_shares_ic.svg">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-bar" id="breadcrumb">
		<ul class="page-breadcrumb">
			<li>
				<a ui-sref="dashboard"><span class="icon-home"></span>&nbspHome</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a ui-sref="dashboard">PUSH NOTIFICATION</a>
			</li>
		</ul>	
	</div>
        <!-- BEGIN: ACCORDION DEMO -->
	<div class="row">
		<div class="fbtable col-md-12 col-xs-12 col-sm-12" >
			<div>
				<h3 class="fbtabletitle" ><img class="leader-title" src="../assets/pages/media/pages/notifications_ic.svg">
					PUSH NOTIFICATION
					</h3>
				<a class="btn btn-primary" href="https://go.pushwoosh.com/v2/login">Pushwood</a>
			</div>
		</div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS