
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <span class="caption-subject bold uppercase">Customers</span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="customer_table">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="group-checkable" data-set="#customer_table .checkboxes" />
                                    <span></span>
                                </label>
                            </th>
                            <th> First Name </th>
                            <th> Last Name </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeX" ng-repeat = "customer in customers">
                            <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                {{customer.firstname}}
                            </td>
                            <td>
                                {{customer.lastname}}
                            </td>
                            <td>
                                <a ui-sref="customer-edit({id:customer.id, method:'edit'})" class="btn default blue-stripe"> 
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
                                </a>
                                
                                <a href="javascript:;" class="btn default blue-stripe"> 
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> 
                                </a>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script> 
</script>